@model IEnumerable<DotNetWMS.Models.Infobox>

@{
    ViewData["Title"] = "Index";
}

<h1>Skrzynka wiadomości</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (!item.IsChecked)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedDate)
                    </td>
                    @if (!item.IsChecked)
                    {
                        <td>
                            <a asp-action="Check" asp-route-id="@item.Id">Read</a>
                        </td>
                    }
                </tr>

            }

        }
    </tbody>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.IsChecked)
            {
                <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceivedDate)
                        </td>
                        @if (item.IsChecked)
                        {
                            <td>
                                <a asp-action="Check" asp-route-id="@item.Id">Unread</a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }

                </tr>
            }

        }
    </tbody>
</table>
