@model IEnumerable<DotNetWMS.Models.Infobox>

@{
    ViewData["Title"] = "Index";
    ViewData["ModelCount"] = Model.Count(m => m.IsChecked == false);
}
<div>
    <h2 class="text-sm-left text-center">Skrzynka wiadomości</h2>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <div class="list-group info-box">
            @if (!Model.Any())
            {
                <div class="alert alert-primary" role="alert">
                    Nie posiadasz żadnych nowych wiadomości
                </div>
            }
            @foreach (var item in Model)
            {
                @if (!item.IsChecked)
                {
                    <div class="list-group-item list-group-item-primary flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between title-wrapper">
                            <h5 class="mb-1 title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <small>@Html.DisplayFor(modelItem => item.ReceivedDate)</small>
                        </div>
                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Message)</p>
                        <hr />
                        <div class="w-100">
                            @if (item.Title == "Nowy dokument")
                            {
                                <a asp-action="Check" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Potwierdź</a>
                                <a asp-controller="Doc_Assignments" asp-action="ShowDocument" asp-route-id="@item.DocumentId" class="btn btn-sm btn-primary">Sprawdź</a>
                            }
                            else
                            {
                                <a asp-action="Check" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fas fa-envelope-open mr-1"></i>Przyczytane</a>
                            }
                        </div>
                    </div>
                }

            }
            @foreach (var item in Model)
            {
                @if (item.IsChecked)
                {
                    <div class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <small class="text-muted">@Html.DisplayFor(modelItem => item.ReceivedDate)</small>
                        </div>
                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Message)</p>
                        <hr />
                        <div class="w-100">
                            @if (item.Title == "Nowy dokument")
                            {
                                <b>Potwierdzono!</b>
                            }
                            else
                            {
                                <a asp-action="Check" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fas fa-envelope mr-1"></i>Nieprzyczytane</a>
                            }
                            <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#remove_@item.Id"><i class="fas fa-trash-alt mr-1"></i>Usuń</a>

                            <div class="modal fade" id="remove_@item.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="label_remove_@item.Id" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-weight-bold" id="label_remove_@item.Id">Usuwanie wiadomości</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Czy na pewno chcesz usunąć wiadomość ?
                                            <div class="text-muted small font-weight-bold"><span class="text-dark">Tytuł:</span> @Html.DisplayFor(modelItem => item.Title)</div>
                                            <div class="text-muted small font-weight-bold"><span class="text-dark">Treść:</span> <br />@Html.DisplayFor(modelItem => item.Message)</div>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-window-close mr-1"></i>Nie</button>
                                                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check-circle mr-1"></i>Tak</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>

        @*<div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Message)</th>
                        <th>@Html.DisplayNameFor(model => model.ReceivedDate)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        @if (!item.IsChecked)
                        {

                            <tr class="table-primary">
                                <td>@index</td>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Message)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReceivedDate)</td>
                                @if (!item.IsChecked)
                                {
                                    if (item.Title == "Nowy dokument")
                                    {
                                        <td><a asp-action="Check" asp-route-id="@item.Id">Potwierdź</a></td>
                                        <td><a asp-controller="Doc_Assignments" asp-action="ShowDocument" asp-route-id="@item.DocumentId">Sprawdź</a></td>
                                    }
                                    else
                                    {
                                        <td><a asp-action="Check" asp-route-id="@item.Id">Przyczytane</a></td>
                                    }

                                }
                                <td></td>
                            </tr>
                            index++;
                        }
                    }
                    @foreach (var item in Model)
                    {
                        @if (item.IsChecked)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Message)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReceivedDate)</td>
                                @if (item.IsChecked)
                                {
                                    if (item.Title == "Nowy dokument")
                                    {
                                        <td>Potwierdzono!</td>
                                    }
                                    else
                                    {
                                        <td><a asp-action="Check" asp-route-id="@item.Id">Nieprzyczytane</a></td>
                                    }
                                    <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt mr-1"></i>Usuń</a></td>
                                }
                            </tr>
                            index++;
                        }

                    }
                </tbody>
            </table>
        </div>*@
    </div>
    </div>