@using DotNetWMS.Resources
@model DotNetWMS.Models.Item

@{
    ViewData["Title"] = "Details";
}

    <div>
        <h4>Szczegóły o produkcie</h4>
        @if (User.IsInAnyRoles("StandardPlus,Moderator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edytuj</a>
        }
        <hr />
        <dl class="row details-view">
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Producer)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Producer)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.ItemCode)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.ItemCode)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Units)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Units)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.WarrantyDate)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.WarrantyDate)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Employee)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Employee.FullName)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.Warehouse)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.Warehouse.Street)
            </dd>
            <dt class="col-sm-2 list-group-item">
                @Html.DisplayNameFor(model => model.External)
            </dt>
            <dd class="col-sm-10 list-group-item dd-list">
                @Html.DisplayFor(model => model.External.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>Wróć do podglądu</a>
    </div>
