@using DotNetWMS.Resources
@model List<ItemsAssignmentViewModel>

@{
    ViewData["Title"] = "Przypisywanie przedmiotów";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="d-flex justify-content-between flex-sm-row flex-column">
                @*<a asp-action="Index" class="btn btn-dark my-auto"><i class="fas fa-arrow-left mr-1"></i>Powrót</a>*@
                <h2 class="mb-sm-0 mb-2 text-sm-left text-center">Przypisywanie przedmiotów</h2>
            </div>
        </div>
    </div>
    <div class="col-12">
        @{
            var index = 1;
        }
        <hr />
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control search-control" value="@ViewData["Search"]" placeholder="Wyszukaj..." aria-label="Wyszukaj" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" id="button-addon2"><i class="fab fa-sistrix mr-1"></i>Szukaj</button>
                    </div>
                </div>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" id="modelErrors" class="text-danger font-weight-bold small mt-3"></div>
        <form asp-action="ItemAssignmentConfirmation">
            <div class="btn-group dropright mb-3">
                <button type="button" class="btn border btn-light dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    Przypisz do
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    <h6 class="dropdown-header font-weight-bold">Co chcesz zrobić?</h6>
                    @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator,Admin"))
                    {
                        <button type="submit" asp-action="ItemAssignmentConfirmation" asp-route-option="ToUser" class="dropdown-item"><i class="fas fa-user mr-1"></i><i class="fas fa-share mr-1"></i>Użytkownika</button>
                        <button type="submit" asp-action="ItemAssignmentConfirmation" asp-route-option="ToWarehouse" class="dropdown-item"><i class="fas fa-warehouse mr-1"></i><i class="fas fa-share mr-1"></i>Magazynu</button>
                    }
                    @if (User.IsInAnyRoles("StandardPlus,Moderator,Admin"))
                    {
                        <button type="submit" asp-action="ItemAssignmentConfirmation" asp-route-option="ToExternal" class="dropdown-item"><i class="fas fa-handshake mr-1"></i><i class="fas fa-share mr-1"></i>Kontrahenta</button>
                    }
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold assignment mb-3"></div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th>@Html.LabelFor(x => x[0].IsChecked)</th>
                            <th>@Html.LabelFor(x => x[0].ItemCode)</th>
                            <th>
                                <a asp-action="ItemAssignment" asp-route-order="@ViewData["SortByType"]">@Html.LabelFor(x => x[0].Type)</a>
                            </th>
                            <th>
                                <a asp-action="ItemAssignment" asp-route-order="@ViewData["SortByName"]">@Html.LabelFor(x => x[0].Name)</a>
                            </th>
                            <th>@Html.LabelFor(x => x[0].Producer)</th>
                            <th>@Html.LabelFor(x => x[0].Model)</th>
                            <th>@Html.LabelFor(x => x[0].Quantity)</th>
                            <th>@Html.LabelFor(x => x[0].Units)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tableSearch">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <th scope="col">@index</th>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input asp-for="@Model[i].IsChecked" class="custom-control-input" type="checkbox">
                                        <label class="custom-control-label btn p-0 border-0" asp-for="@Model[i].IsChecked">&nbsp;</label>
                                        <span asp-validation-for="@Model[i].IsChecked" class="text-danger small font-weight-bold"></span>
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].ItemCode" />
                                    @Model[i].ItemCode
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].Type" />
                                    @Model[i].Type
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].Name" />
                                    @Model[i].Name
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].Producer" />
                                    @Model[i].Producer
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].Model" />
                                    @Model[i].Model
                                </td>
                                <td>
                                    <input asp-for="@Model[i].Quantity" class="form-control" />
                                    <span asp-validation-for="@Model[i].Quantity" class="text-danger small"></span>
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].Units" />
                                    @Model[i].Units
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].Id" />
                                </td>
                            </tr>
                            index++;
                        }

                    </tbody>
                </table>
            </div>
        </form>


        </div>
    </div>
