@model IEnumerable<DotNetWMS.Models.Item>
@{
    ViewData["Title"] = "Stocktaking";
}

<h1 class="index-title"><a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-left"></i></a> Inwentaryzacja magazynu</h1>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <form asp-action="Stocktaking" method="get">
        <div class="form-group">
            <label class="control-label"></label>
            <select class="form-control" name="filter" asp-items="ViewBag.WarehouseId"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Inwentaryzuj" class="btn btn-primary" />
        </div>
        <br>
    </form>
    <form asp-action="Index" method="get">
        <div class="form-group">
            <p>
                Wyszukaj: <input type="text" name="search" value="@ViewData["Search"]" />
                <button type="submit" class="btn btn-primary"><i class="fab fa-sistrix"></i></button> |
                <a asp-action="Index" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </p>
        </div>
    </form>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarrantyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Warehouse)
                </th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Units)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarrantyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Warehouse.Name)
                    </td>

                    <td>
                        <input type="checkbox" id="ok">
                        <label for="ok"> O.K</label><br>
                    </td>
                    <td>
                        <input type="checkbox" id="notok">
                        <label for="notok"> Do poprawy</label><br>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="thead-dark">
        <p>Kliknij tutaj aby wydrukować stronę</p>

        <button class="btn btn-primary" onclick="myFunction()">Drukuj to</button>

        <script>
            function myFunction() {
                window.print();
            }
        </script>
    </div>
</body>
</html>
