@using Microsoft.AspNetCore.Html
@model DotNetWMS.Models.Doc_Assignment

@{
    ViewData["Title"] = "Podgląd dokumentu";
}
<div>
    <div class="d-flex justify-content-between">
        <h2 class="my-0" id="docTitle">@ViewData["DocumentTitle"]</h2>
    </div>
</div>
<hr />
<a asp-action="Index" class="btn btn-outline-dark btn-sm d-print-none"><i class="fas fa-arrow-left mr-1"></i>Wróć do podglądu</a>
<div class="mb-3" id="docToPrint">
    <form method="post" class="mt-3">
        <div class="form-row">
            @if (!String.IsNullOrEmpty(Model.UserFrom))
            {
                <div class="form-group col-md-6">
                    <label asp-for="UserFrom"></label>
                    <h6 style="white-space: pre-line">@Model.UserFromName</h6>
                    <input type="hidden" asp-for="@Model.UserFrom" />
                    <input type="hidden" asp-for="@Model.UserFromName" />
                </div>
            }

            @if (Model.WarehouseFrom != null)
            {
                <div class="form-group col-md-6">
                    <label asp-for="WarehouseFrom"></label>
                    <h6 style="white-space: pre-line">@Model.WarehouseFromName</h6>
                    <input type="hidden" asp-for="@Model.WarehouseFrom" />
                    <input type="hidden" asp-for="@Model.WarehouseFromName" />
                </div>
            }

            @if (Model.ExternalFrom != null)
            {
                <div class="form-group col-md-6">
                    <label asp-for="ExternalFrom"></label>
                    <h6 style="white-space: pre-line">@Model.ExternalFromName</h6>
                    <input type="hidden" asp-for="@Model.ExternalFrom" />
                    <input type="hidden" asp-for="@Model.ExternalFromName" />
                </div>
            }

            @if (!String.IsNullOrEmpty(Model.UserTo))
            {
                <div class="form-group col-md-6">
                    <label asp-for="UserTo"></label>
                    <h6 style="white-space: pre-line">@Model.UserToName</h6>
                    <input type="hidden" asp-for="@Model.UserTo" />
                    <input type="hidden" asp-for="@Model.UserToName" />
                </div>
            }

            @if (Model.WarehouseTo != null)
            {
                <div class="form-group col-md-6">
                    <label asp-for="WarehouseTo"></label>
                    <h6 style="white-space: pre-line">@Model.WarehouseToName</h6>
                    <input type="hidden" asp-for="@Model.WarehouseTo" />
                    <input type="hidden" asp-for="@Model.WarehouseToName" />
                </div>
            }

            @if (Model.ExternalTo != null)
            {
                <div class="form-group col-md-6">
                    <label asp-for="ExternalTo"></label>
                    <h6 style="white-space: pre-line">@Model.ExternalToName</h6>
                    <input type="hidden" asp-for="@Model.ExternalTo" />
                    <input type="hidden" asp-for="@Model.ExternalToName" />
                </div>
            }
            <input type="hidden" asp-for="@Model.DocumentId" />
            <input type="hidden" asp-for="@Model.Title" />
            <input type="hidden" asp-for="@Model.CreationDate" />
        </div>

        <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th>
                        Typ
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Producent
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        Kod
                    </th>
                    <th>
                        Ilość
                    </th>
                    <th>
                        Jedn.
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.Items[i].Type
                            <input type="hidden" asp-for="@Model.Items[i].Type" />
                        </td>
                        <td>
                            @Model.Items[i].Name
                            <input type="hidden" asp-for="@Model.Items[i].Name" />
                        </td>
                        <td>
                            @Model.Items[i].Producer
                            <input type="hidden" asp-for="@Model.Items[i].Producer" />
                        </td>
                        <td>
                            @Model.Items[i].Model
                            <input type="hidden" asp-for="@Model.Items[i].Model" />
                        </td>
                        <td>
                            @Model.Items[i].ItemCode
                            <input type="hidden" asp-for="@Model.Items[i].ItemCode" />
                        </td>
                        <td>
                            @Model.Items[i].Quantity
                            <input type="hidden" asp-for="@Model.Items[i].Quantity" />
                        </td>
                        <td>
                            @Model.Items[i].Units
                            <input type="hidden" asp-for="@Model.Items[i].Units" />
                        </td>
                        <td>
                            <input type="hidden" asp-for="@Model.Items[i].ExternalId" />
                            <input type="hidden" asp-for="@Model.Items[i].WarehouseId" />
                            <input type="hidden" asp-for="@Model.Items[i].UserId" />
                            <input type="hidden" asp-for="@Model.Items[i].State" />
                            <input type="hidden" asp-for="@Model.Items[i].WarrantyDate" />
                            <input type="hidden" asp-for="@Model.Items[i].Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            </div>
    </form>

    <div class="mt-3" data-hidden='true'>
        <button class="btn btn-outline-primary btn-sm" id="print" data-title="@ViewData["DocumentTitle"]" data-signature="true" data-content="docToPrint">Drukuj</button>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
