@using DotNetWMS.Resources
@inject SignInManager<WMSIdentityUser> signInManager;

@{ 
    ViewData["Title"] = "Dashboard";
}


@if (signInManager.IsSignedIn(User))
{
    
<h2>@ViewData["Title"]</h2>
    <hr />
    @if ((bool)ViewData["isAnyNewMessages"])
    {
        <div class="row mt-3">
            <div class="col-12">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Masz nowe wiadomości!</h4>
                    <p>W Twojej skrzynce znajdują się nowe wiadomości. Aby je przejrzeć kliknij w poniższy link.</p>
                    <hr>
                    <p class="mb-0">
                        <a asp-controller="Infoboxes" asp-action="Index" class="btn btn-primary my-auto">Dziennik</a>
                    </p>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
            <div class="card shadow text-center h-100">
                <div class="card-body p-2">
                    <i class="fas fa-calendar-times fa-3x"></i>
                    <hr />
                    <h5 class="card-title font-weight-bold mb-0">@ViewData["OutOfWarranty"]</h5>
                    <p class="card-text">Przedmioty po gwarancji</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
            <div class="card shadow text-center h-100">
                <div class="card-body p-2">
                    <i class="fas fa-handshake fa-3x"></i>
                    <hr />
                    <h5 class="card-title font-weight-bold mb-0">@ViewData["ExternalsCount"]</h5>
                    <p class="card-text">Klienci zewnętrzni</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
            <div class="card shadow text-center h-100">
                <div class="card-body p-2">
                    <i class="fas fa-users fa-3x"></i>
                    <hr />
                    <h5 class="card-title font-weight-bold mb-0">@ViewData["RegisteredUsers"]</h5>
                    <p class="card-text">Pracownicy</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
            <div class="card shadow text-center h-100">
                <div class="card-body p-2">
                    <i class="fas fa-warehouse fa-3x"></i>
                    <hr />
                    <h5 class="card-title font-weight-bold mb-0">@ViewData["WarehousesCount"]</h5>
                    <p class="card-text">Ilość magazynów</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mb-4 mb-md-0 text-center">
            <h6 class="font-weight-bold">Pracownicy posiadający największą ilość przedmiotów na stanie</h6>
            <hr />
            <div >
                <canvas class="chart-diagram" data-type="bar" data-id="1"></canvas>
            </div>
            
        </div>
        <div class="col-md-6 mb-4 mb-md-0 text-center">
            <h6 class="font-weight-bold">Ilości typów zewnętrznych usług</h6>
            <hr />
            <canvas class="chart-diagram" data-type="bar" data-id="3"></canvas>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h6 class="font-weight-bold">
                Pozycje z wybraną datą gwarancji
            </h6>
            <hr />
            <p>Pozycje z wybraną datą gwarancji oznaczają dni do końca gwarancji.<br />Wynik <u class="text-success">poniżej zera</u> oznacza, że ​​pozycja jest nadal objęta gwarancją przez okres X dni i odwrotnie, gdy jej wartość jest <u class="text-danger">większa od 0</u></p>
            <hr />
            <canvas class="chart-diagram" style="min-height:250px" data-type="horizontalBar" data-id="4"></canvas>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ChartDiagram");}
    }
}
else
{
    ViewData["Title"] = "Home";
    <div class="jumbotron shadow text-center m-auto w-100">
        <div class="mx-auto mb-3" style="max-width: 500px;">
            <img src="~/images/logo3.png" class="mw-100 mh-100" alt="">
        </div>
        <h1>Witaj w DotNetWealth!</h1>
        <p>Kliknij <b>start</b> i rozpocznij pracę</p>
        <hr class="my-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg" role="button">Start</a>
    </div>
}

