@model List<StocktakingNewViewModel>
@{
    ViewData["Title"] = "_StocktakingIndexTable";
    var id = ViewBag.warehouseId;
}
<form method="post">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Typ
                </th>
                <th>
                    Model
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Kod przedmiotu
                </th>
                <th>
                    Ilość
                </th>
                <th>
                    O.K.
                </th>
                <th>
                    Do poprawy
                </th>
                <th>
                    Do usunięcia
                </th>
                <th>
                    Uszkodzony
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].ItemType</td>
                    <td>@Model[i].ItemModel</td>
                    <td>@Model[i].ItemName</td>
                    <td>@Model[i].ItemCode</td>
                    <td>@Model[i].ItemQuantity</td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="ok_@i" value="1" class="custom-control-input" onchange="checkboxChange(this)">
                            <label class="custom-control-label" for="ok_@i"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input asp-for="@Model[i].ToCorrect" class="custom-control-input" type="checkbox" onchange="checkboxChange(this)">
                            <label asp-for="@Model[i].ToCorrect" class="custom-control-label"></label>
                            <span asp-validation-for="@Model[i].ToCorrect" class="text-danger small font-weight-bold"></span>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input asp-for="@Model[i].ToDelete" class="custom-control-input" type="checkbox" onchange="checkboxChange(this)">
                            <label asp-for="@Model[i].ToDelete" class="custom-control-label"></label>
                            <span asp-validation-for="@Model[i].ToDelete" class="text-danger small font-weight-bold"></span>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input asp-for="@Model[i].IsDamaged" class="custom-control-input" type="checkbox" onchange="checkboxChange(this)">
                            <label asp-for="@Model[i].IsDamaged" class="custom-control-label"></label>
                            <span asp-validation-for="@Model[i].IsDamaged" class="text-danger small font-weight-bold"></span>
                        </div>
                    </td>
                    <td>
                        <input type="hidden" asp-for="@Model[i].ItemType" />
                        <input type="hidden" asp-for="@Model[i].ItemModel" />
                        <input type="hidden" asp-for="@Model[i].ItemName" />
                        <input type="hidden" asp-for="@Model[i].ItemCode" />
                        <input type="hidden" asp-for="@Model[i].ItemQuantity" />
                        <input type="hidden" asp-for="@Model[i].ItemUnit" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Any())
    {
        <div class="form-group mt-3">
            <button type="submit" asp-action="StocktakingBegin" asp-route-id="@ViewBag.warehouseId" class="btn btn-light btn-sm d-print-none">Kontynuuj</button>
        </div>
    }
    else
    {
        <h4 class="text-danger font-weight-bold">@ViewData["InfoMessage"]</h4>
    }

</form>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomValidation.js"></script>
}
<script>
    function checkboxChange(obj) {
        var checkboxes = obj.closest('tr').getElementsByClassName("custom-control-input");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
        }
        obj.checked = true;
    }
</script>*@

