@model List<StocktakingTableViewModel>
@{
    ViewData["Title"] = "_StocktakingIndexTable";
    var id = ViewBag.warehouseId;
}
    <form method="post">
        <div class="table-responsive">
            <table class="table table-hover table-sm stocktaking">
                <thead class="thead-light">
                    <tr>
                        <th>Typ</th>
                        <th>Model</th>
                        <th>Nazwa</th>
                        <th>Kod przedmiotu</th>
                        <th>Ilość</th>
                        <th>O.K.</th>
                        <th>Do poprawy</th>
                        <th>Do usunięcia</th>
                        <th>Uszkodzony</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].ItemType</td>
                            <td>@Model[i].ItemModel</td>
                            <td>@Model[i].ItemName</td>
                            <td>@Model[i].ItemCode</td>
                            <td>@Model[i].ItemQuantity</td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" id="ok_@i" value="1" class="form-check-input" onchange="checkboxChangeInTableRow(this)">
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input asp-for="@Model[i].ToCorrect" class="form-check-input" type="checkbox" onchange="checkboxChangeInTableRow(this)">
                                    <span asp-validation-for="@Model[i].ToCorrect" class="text-danger small font-weight-bold"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input asp-for="@Model[i].ToDelete" class="form-check-input" type="checkbox" onchange="checkboxChangeInTableRow(this)">
                                    <span asp-validation-for="@Model[i].ToDelete" class="text-danger small font-weight-bold"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input asp-for="@Model[i].IsDamaged" class="form-check-input" type="checkbox" onchange="checkboxChangeInTableRow(this)">
                                    <span asp-validation-for="@Model[i].IsDamaged" class="text-danger small font-weight-bold"></span>
                                </div>
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model[i].ItemType" />
                                <input type="hidden" asp-for="@Model[i].ItemModel" />
                                <input type="hidden" asp-for="@Model[i].ItemName" />
                                <input type="hidden" asp-for="@Model[i].ItemCode" />
                                <input type="hidden" asp-for="@Model[i].ItemQuantity" />
                                <input type="hidden" asp-for="@Model[i].ItemUnit" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
            @if (Model.Any())
            {
                <div class="form-group mt-3" data-hidden="true">
                    <a class="btn btn-sm btn-outline-primary" id="print" data-content="divPartial" data-title="Inwentaryzacja"><i class="fas fa-print mr-1"></i>Drukuj</a>
                    <button type="submit" asp-action="StocktakingBegin" asp-route-id="@ViewBag.warehouseId" class="btn btn-primary btn-sm">Kontynuuj</button>
                </div>
            }
            else
            {
                <h4 class="text-danger font-weight-bold">@ViewData["InfoMessage"]</h4>
            }

    </form>

