@{
    ViewData["Title"] = "_StocktakingTable";
}

@if (ViewBag.ItemList != null)
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Typ
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Producent
                </th>
                <th>
                    Kod
                </th>
                <th>
                    Ilość
                </th>
                <th>
                    Jedn.
                </th>
                <th>
                    Pracownik
                </th>
                <th>
                    Magazyn
                </th>
                <th>
                    Sprawdzono
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ItemList)
            {
            <tr>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Producer
                </td>
                <td>
                    @item.ItemCode
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Units
                </td>
                <td>
                    @item.Employee.FullName
                </td>
                <td>
                    @item.Warehouse.AssignFullName
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">O.K.</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Do poprawy</label>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}