@using DotNetWMS.Resources
@model DotNetWMS.Models.Warehouse

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Szczegóły o magazynie</h4>
    @if (User.IsInAnyRoles("StandardPlus,Moderator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edytuj</a>
    }
    <hr />
    <dl class="row details-view">
        <dt class="col-sm-2 list-group-item">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 list-group-item dd-list">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 list-group-item">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10 list-group-item dd-list">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2 list-group-item">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10 list-group-item dd-list">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2 list-group-item">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10 list-group-item dd-list">
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>Wróć do podglądu</a>
</div>

<div>
    @{await Html.RenderPartialAsync("_GoogleMapsPartial");}
</div>