@model IEnumerable<DotNetWMS.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="d-flex justify-content-between">
        <h2 class="my-0">Przegląd stanowisk</h2>
        <a asp-action="Create" class="btn btn-success my-auto"><i class="fas  fa-user-plus mr-1"></i>Dodaj nowe stanowisko</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-12">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control search-control" value="@ViewData["Search"]" placeholder="Wyszukaj..." aria-label="Wyszukaj" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="fab fa-sistrix mr-1"></i>Szukaj</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableSearch">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="button-col">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning ml-auto my-auto"><i class="fas fa-edit mr-1"></i>Edytuj</a>
                                @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-dark"><i class="fas fa-info-circle"></i></a>*@
                                @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger text-white mr-auto"><i class="fas fa-trash-alt mr-1"></i>Usuń</a>*@
                                <button type="button" class="btn btn-sm my-1 btn-danger mr-auto my-auto" data-toggle="modal" data-target="#remove_@item.Id"><i class="fas fa-trash-alt mr-1"></i>Usuń</button>

                                <div class="modal fade" id="remove_@item.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="label_remove_@item.Id" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title font-weight-bold" id="label_remove_@item.Id">Usuwanie pracownika</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Czy na pewno chcesz usunąć stanowisko: <b>@item.Name</b> ?
                                                <div class="text-muted small font-weight-bold">Nazwa: @item.Name</div>
                                            </div>
                                            <div class="modal-footer">
                                                <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-window-close mr-1"></i>Nie</button>
                                                    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check-circle mr-1"></i>Tak</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
