@model List<Item>
@{
    ViewData["Title"] = "_StatusViewTable";
}

@if (Model.Any())
{
    <table class="table table-hover table-responsive-sm">
        <thead class="thead-light">
            <tr>
                <th>
                    Typ
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Producent
                </th>
                <th>
                    Model
                </th>
                <th>
                    Kod
                </th>
                <th>
                    Ilość
                </th>
                <th>
                    Jedn.
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Producer
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.ItemCode
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Units
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-danger font-weight-bold">@ViewData["InfoMessage"]</h4>
}
