@using DotNetWMS.Resources
@model DotNetWMS.Models.External

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="my-0">Szczegóły o kliencie</h2>
        @if (User.IsInAnyRoles("StandardPlus,Moderator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success"><i class="fas fa-edit mr-1"></i>Edytuj</a>
        }
    </div>
</div>
<hr />
<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-dark btn-sm"><i class="fas fa-arrow-left mr-1"></i>Wróć do podglądu</a>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush mt-2">
                <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.Name)</li>
                <li class="list-group-item pl-5">@Html.DisplayFor(model => model.Name)</li>

                <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.Type)</li>
                <li class="list-group-item pl-5">@Html.DisplayFor(model => model.Type)</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group-flush mt-2">
                <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.TaxId)</li>
                <li class="list-group-item pl-5">@Html.DisplayFor(model => model.TaxId)</li>

                <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.Street)</li>
                <li class="list-group-item pl-5">@Html.DisplayFor(model => model.Street), @Html.DisplayFor(model => model.ZipCode) @Html.DisplayFor(model => model.City)</li>
            </ul>
        </div>
    </div>
</div>
