@using DotNetWMS.Resources
@model IEnumerable<DotNetWMS.Models.External>

@{
    ViewData["Title"] = "Index";
}

<h1><a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-left"></i></a> Index</h1>

@if (User.IsInAnyRoles("StandardPlus,Moderator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="form-group">
        <p>
            Wyszukaj: <input type="text" name="search" value="@ViewData["Search"]" />
            <button type="submit" class="btn btn-primary"><i class="fab fa-sistrix"></i></button> |
            <a asp-action="Index" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
        </p>
    </div>
</form>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["SortByType"]">@Html.DisplayNameFor(model => model.Type)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["SortByName"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInAnyRoles("StandardPlus, Moderator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
