@using DotNetWMS.Resources
@inject SignInManager<WMSIdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetFortune</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    </environment>

</head>
<body class="min-vh-100">

    @if (signInManager.IsSignedIn(User))
    {
        <header class="sticky-top top-0 bg-dark">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-xl-2 col-md-3 col d-flex align-items-center left-nav">
                        <a class="navbar-brand ml-lg-0 ml-3" asp-controller="Home" asp-action="Index">
                            <img src="~/images/logo.png" style="width: 160px" alt="">
                        </a>
                    </div>

                    <div class="col-xl-10 col navbar navbar-expand-md navbar-dark bg-dark">
                        <div class="d-flex w-100" id="navbarText">
                            <button class="hamburger border-0 position-relative" data-target="#sidebar" type="button">
                                <span class="hamburger-container position-relative" tabindex="-1">
                                    <span class="hamburger-bars position-absolute"></span>
                                </span>
                            </button>

                            <ul class="navbar-nav mr-auto">

                                <!--kadry-->
                                @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Kadry,Moderator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-id="Employees" asp-controller="Employees" asp-action="Index">Pracownicy</a>
                                    </li>
                                }

                                <!--standard-->
                                @if (signInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-id="Items" asp-controller="Items" asp-action="Index">Majątek</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-id="Warehouses" asp-controller="Warehouses" asp-action="Index">Magazyny</a>
                                    </li>
                                }

                                @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-id="Externals" asp-controller="Externals" asp-action="Index">Klienci zewnętrzni</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Doc_Assignments" asp-action="Index">Dokumenty</a>
                                    </li>
                                }

                            </ul>

                            <div class="ml-auto dropdown">
                                <a class="btn dropdown-toggle rounded-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>

                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                                        @*<h6 class="dropdown-header">Panel administracyjny</h6>*@
                                        @*admin*@
                                        @*@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-controller="Administration" asp-action="ListOfRoles" class="dropdown-item">Lista ról</a>
                        <a asp-controller="Administration" asp-action="ListOfUsers" class="dropdown-item">Użytkownicy</a>
                        <a asp-controller="Infoboxes" asp-action="Index" class="dropdown-item">Dziennik</a>
                        <div class="dropdown-divider"></div>
                    }
                    else
                    {
                        <a asp-controller="Infoboxes" asp-action="Index" class="dropdown-item">Dziennik</a>
                        <div class="dropdown-divider"></div>
                    }*@
                                        <button type="submit" class="dropdown-item danger text-danger">Wyloguj się</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }



    @if (!signInManager.IsSignedIn(User))
    {
        <div class="container-fluid vh-100 d-flex bg-light">
            <partial name="_CookieConsentPartial" />

            @RenderBody()
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="bg-navbar"></div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-7 col-10 sidebar overflow-auto bg-light border-right" id="sidebar">
                    <a class="logo my-3 d-block text-center" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" style="width: 160px" alt="">
                    </a>
                    <div class="list-group list-group-flush border-top border-bottom">
                        <a href="/" data-id="dashboard" class="list-group-item list-group-item-action"><i class="fas fa-chart-line mr-1"></i>Dashboard</a>
                        <a asp-controller="Infoboxes" asp-action="Index" data-id="Infoboxes" class="list-group-item list-group-item-action"><i class="fas fa-book mr-1"></i>Dziennik <span class="badge badge-primary ml-auto">2</span></a>
                    @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                    {
                        <a asp-controller="Externals" asp-action="StatusView" data-id="StatusView" class="list-group-item list-group-item-action"><i class="fas fa-search-dollar mr-1"></i>Podgląd stanu</a>
                    }
                    </div>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Panel administracyjny</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Administration" asp-action="ListOfRoles" data-id="ListOfRoles" class="list-group-item list-group-item-action"><i class="fas fa-user-tag mr-1"></i>Lista ról</a>
                            <a asp-controller="Administration" asp-action="ListOfUsers" data-id="ListOfUsers" class="list-group-item list-group-item-action"><i class="fas fa-user mr-1"></i>Użytkownicy</a>
                        </div>
                    }
                    @if (User.IsInAnyRoles("Kadry,Moderator"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Pracownicy</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Employees" asp-action="Index" data-id="Employees" class="list-group-item list-group-item-action"><i class="far fa-id-card mr-1"></i>Przegląd pracowników</a>
                            <a asp-controller="Departments" asp-action="Index" data-id="Departments" class="list-group-item list-group-item-action"><i class="fas fa-briefcase mr-1"></i> Przegląd stanowisk</a>
                        </div>
                    }
                    <div class="title mt-3">
                        <small class="text-muted font-weight-bold text-uppercase m-0">Majątek</small>
                    </div>
                    <div class="list-group list-group-flush">
                        <a asp-controller="Items" asp-action="Index" data-id="Items" class="list-group-item list-group-item-action"><i class="fas fa-coins mr-1"></i>Przegląd majątku</a>
                        @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                        {
                            <a asp-controller="Doc_Assignments" asp-action="Index" data-id="Doc_Assignments" class="list-group-item list-group-item-action"><i class="far fa-file-alt mr-1"></i>Dokumenty</a>
                            <a asp-controller="Items" asp-action="Assign_to_employee" data-id="Assign_to_employee" class="list-group-item list-group-item-action"><i class="fas fa-hand-holding-usd mr-1"></i>Przekaż na stan</a>
                            <a asp-controller="Items" asp-action="Assign_to_warehouse" data-id="Assign_to_warehouse" class="list-group-item list-group-item-action"><i class="fas fa-pallet mr-1"></i>Przekaż do magazynu</a>
                        }
                        @if (User.IsInAnyRoles("StandardPlus,Moderator"))
                        {
                            <a asp-controller="Items" asp-action="Assign_to_external" data-id="Assign_to_external" class="list-group-item list-group-item-action"><i class="fas fa-truck-loading mr-1"></i>Przekaż na zewnątrz</a>
                        }
                    </div>

                    <div class="title mt-3">
                        <small class="text-muted font-weight-bold text-uppercase m-0">Magazyn</small>
                    </div>
                    <div class="list-group list-group-flush">
                        <a asp-controller="Warehouses" asp-action="Index" data-id="Warehouses" class="list-group-item list-group-item-action"><i class="fas fa-boxes mr-1"></i>Przegląd magazynów</a>
                        @if (User.IsInAnyRoles("StandardPlus,Moderator"))
                        {
                            <a asp-controller="Warehouses" asp-action="StocktakingIndex" data-id="Stocktaking" class="list-group-item list-group-item-action"><i class="fas fa-calculator mr-1"></i>Inwentaryzacja</a>
                        }
                    </div>

                    @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Klienci zewnętrzni</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Externals" asp-action="Index" data-id="Externals" class="list-group-item list-group-item-action"><i class="fas fa-glasses mr-1"></i>Przegląd klientów zewnętrznych</a>
                        </div>
                    }
                    <div class="text-center pb-2 pt-4">
                        <small class="w-100 text-center">
                            &copy; 2019-2020 - DotNetFortune
                            <br />
                            <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="aboutUs">O nas</a>
                        </small>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-9 ml-auto py-3 content-body position-relative">

                    @*Globalne alerty*@

                    @*<div class="alert alert-warning global-info shadow alert-dismissible fade show" role="alert">
                        <strong>Pomyślnie zapisano zmiany!</strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@

                    <partial name="_CookieConsentPartial" />
                    @RenderBody()
                </div>
            </div>
        </div>
    }
<div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</div>
</body>
</html>
