@using DotNetWMS.Resources
@inject SignInManager<WMSIdentityUser> signInManager;

@{ 
    ViewData["NewMessages"] = GlobalAlert.ShowQuantity() != null ? GlobalAlert.ShowQuantity() : 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetFortune</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    </environment>

</head>
<body class="min-vh-100">

    @if (signInManager.IsSignedIn(User))
    {
        <header class="sticky-top top-0 bg-dark">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-xl-2 col-md-3 col d-flex align-items-center left-nav">
                        <a class="navbar-brand ml-lg-0 ml-3" asp-controller="Home" asp-action="Index">
                            <img src="~/images/logo3.png" class="mw-100 mh-100" alt="">
                        </a>
                    </div>

                    <div class="col-xl-10 col navbar navbar-expand-md navbar-dark bg-dark pl-2">
                        <div class="d-flex w-100" id="navbarTop">
                            <button class="hamburger border-0 position-relative" data-target="#sidebar" type="button">
                                <span class="hamburger-container position-relative" tabindex="-1">
                                    <span class="hamburger-bars position-absolute"></span>
                                </span>
                            </button>

                            <ul class="navbar-nav mr-auto">

                                @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Kadry,Moderator,Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Employees" asp-action="Index">Pracownicy</a>
                                    </li>
                                }

                                @if (signInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Items" asp-action="Index">Majątek</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Warehouses" asp-action="Index">Magazyn</a>
                                    </li>
                                }

                                @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Standard,StandardPlus,Moderator,Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Externals" asp-action="Index">Klienci zewnętrzni</a>
                                    </li>
                                }
                                @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Moderator,Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Locations" asp-action="Index">Lokalizacje</a>
                                    </li>
                                }

                            </ul>

                            <div class="ml-auto dropdown">
                                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>

                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                                        <a href="/" data-id="dashboard" class="dropdown-item">Dashboard</a>
                                        @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Standard,StandardPlus,Moderator,Admin"))
                                        {
                                            <a asp-controller="Doc_Assignments" asp-action="Index" class="dropdown-item">
                                                Dokumenty
                                            </a>
                                        }
                                        <a asp-controller="Infoboxes" asp-action="Index" class="dropdown-item">
                                            Dziennik
                                            @if ((int)ViewData["NewMessages"] > 0)
                                            {
                                                <span class="badge badge-primary ml-auto">@ViewData["NewMessages"]</span>
                                            }
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <button type="submit" class="dropdown-item danger text-danger">Wyloguj się</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }



    @if (!signInManager.IsSignedIn(User))
    {
        <div class="container-fluid vh-100 d-flex bg-light">
            <partial name="_CookieConsentPartial" />

            @RenderBody()
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="bg-navbar"></div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-7 col-10 sidebar overflow-auto bg-light border-right d-flex flex-column" id="sidebar">
                    <a class="logo my-3 d-block text-center" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo3.png" class="mw-100 mh-100">
                    </a>
                    <div class="list-group list-group-flush border-top border-bottom">
                        <a asp-controller="Infoboxes" asp-action="Index" data-id="Infoboxes" class="list-group-item list-group-item-action">
                            <i class="fas fa-book mr-1"></i>Dziennik
                            @if ((int)ViewData["NewMessages"] > 0)
                            {
                                <span class="badge badge-primary ml-auto">@ViewData["NewMessages"]</span>
                            }
                        </a>
                    </div>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Administrator</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Administration" asp-action="ListOfRoles" data-id="ListOfRoles" class="list-group-item list-group-item-action"><i class="fas fa-user-tag mr-1"></i>Lista ról</a>
                            @*<a asp-controller="Administration" asp-action="ListOfUsers" data-id="ListOfUsers" class="list-group-item list-group-item-action"><i class="fas fa-user mr-1"></i>Użytkownicy</a>*@
                        </div>
                    }
                    @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Kadry,Moderator,Admin"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Pracownicy</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Employees" asp-action="Index" data-id="Employees" class="list-group-item list-group-item-action"><i class="far fa-id-card mr-1"></i>Lista pracowników</a>
                            <a asp-controller="Departments" asp-action="Index" data-id="Departments" class="list-group-item list-group-item-action"><i class="fas fa-briefcase mr-1"></i>Lista stanowisk</a>
                        </div>
                    }
                    <div class="title mt-3">
                        <small class="text-muted font-weight-bold text-uppercase m-0">Majątek</small>
                    </div>
                    <div class="list-group list-group-flush">
                        <a asp-controller="Items" asp-action="Index" data-id="Items" class="list-group-item list-group-item-action"><i class="fas fa-coins mr-1"></i>Przegląd</a>
                        @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Standard,StandardPlus,Moderator,Admin"))
                        {
                            <a asp-controller="Doc_Assignments" asp-action="Index" data-id="Doc_Assignments" class="list-group-item list-group-item-action"><i class="far fa-file-alt mr-1"></i>Dokumenty</a>
                            <a asp-controller="Externals" asp-action="StatusView" data-id="StatusView" class="list-group-item list-group-item-action"><i class="fas fa-search-dollar mr-1"></i>Podgląd stanu</a>
                            
                        }
                    </div>

                    <div class="title mt-3">
                        <small class="text-muted font-weight-bold text-uppercase m-0">Magazyn</small>
                    </div>
                    <div class="list-group list-group-flush">
                        <a asp-controller="Warehouses" asp-action="Index" data-id="Warehouses" class="list-group-item list-group-item-action"><i class="fas fa-boxes mr-1"></i>Lista magazynów</a>
                        @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("StandardPlus,Moderator,Admin"))
                        {
                            <a asp-controller="Warehouses" asp-action="StocktakingIndex" data-id="Stocktaking" class="list-group-item list-group-item-action"><i class="fas fa-calculator mr-1"></i>Inwentaryzacja</a>
                        }
                    </div>

                    @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Standard,StandardPlus,Moderator,Admin"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Klienci zewnętrzni</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Externals" asp-action="Index" data-id="Externals" class="list-group-item list-group-item-action"><i class="fas fa-users mr-1"></i>Lista klientów</a>
                        </div>
                    }
                    <div class="text-center pb-2 pt-4 mt-auto">
                        <small class="w-100 text-center">
                            &copy; 2019-2020 - DotNetFortune
                            <br />
                            <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="aboutUs">O nas</a>
                        </small>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-9 ml-auto py-3 content-body position-relative">

                    <partial name="_GlobalAlertPartial" />

                    <partial name="_CookieConsentPartial" />
                    @RenderBody()
                </div>
            </div>
        </div>
    }
<div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</div>
</body>
</html>
