@using DotNetWMS.Resources
@inject SignInManager<WMSIdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetFortune</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    </environment>

</head>
<body class="min-vh-100">

    @if (signInManager.IsSignedIn(User))
    {
        <header class="sticky-top top-0">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-md-2 d-flex bg-dark">
                        <a class="navbar-brand m-auto" asp-controller="Home" asp-action="Index">
                            <img src="~/images/logo.png" style="width: 160px" alt="">
                        </a>
                    </div>

                    <div class="col-md-10 navbar navbar-expand-lg navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">

                                <!--kadry-->
                                @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Kadry,Moderator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="EmployeesNEW" asp-action="Index">Pracownicy</a>
                                    </li>
                                }

                                <!--standard-->
                                @if (signInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Items" asp-action="Index">Majątek</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Warehouses" asp-action="Index">Magazyny</a>
                                    </li>
                                }

                                @if (signInManager.IsSignedIn(User) && User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Externals" asp-action="Index">Klienci zewnętrzni</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Doc_Assignments" asp-action="Index">Dokumenty</a>
                                    </li>
                                }

                            </ul>

                            <div class="dropdown">
                                <a class="btn dropdown-toggle rounded-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>

                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                                        <h6 class="dropdown-header">Panel administracyjny</h6>
                                        @*admin*@
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Administration" asp-action="ListOfRoles" class="dropdown-item">Lista ról</a>
                                            <a asp-controller="Administration" asp-action="ListOfUsers" class="dropdown-item">Użytkownicy</a>
                                            <a asp-controller="Infoboxes" asp-action="Index" class="dropdown-item">Dziennik</a>
                                            <div class="dropdown-divider"></div>
                                        }
                                        else
                                        {
                                            <a asp-controller="Infoboxes" asp-action="Index" class="dropdown-item">Dziennik</a>
                                            <div class="dropdown-divider"></div>
                                        }
                                        <button type="submit" class="dropdown-item danger text-danger">Wyloguj się</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }



    @if (!signInManager.IsSignedIn(User))
    {
        <div class="container-fluid vh-100 d-flex bg-light">
            <partial name="_CookieConsentPartial" />

            @RenderBody()
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 sidebar overflow-auto bg-light border-right pb-3">
                    <div class="list-group list-group-flush border-top border-bottom">
                        <a href="/" data-id="dashboard" class="list-group-item list-group-item-action"><i class="fas fa-chart-line mr-1"></i>Dashboard</a>
                    </div>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Panel administracyjny</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Administration" asp-action="ListOfRoles" data-id="ListOfRoles" class="list-group-item list-group-item-action"><i class="fas fa-user-tag mr-1"></i>Lista ról</a>
                            <a asp-controller="Administration" asp-action="ListOfUsers" data-id="ListOfUsers" class="list-group-item list-group-item-action"><i class="fas fa-user mr-1"></i>Użytkownicy</a>
                        </div>
                    }
                    @if (User.IsInAnyRoles("Kadry,Moderator"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Pracownicy</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="EmployeesNEW" asp-action="Index" data-id="Employees" class="list-group-item list-group-item-action"><i class="far fa-id-card mr-1"></i>Przegląd pracowników</a>
                            <a asp-controller="Departments" asp-action="Index" data-id="Departments" class="list-group-item list-group-item-action"><i class="fas fa-briefcase mr-1"></i> Przegląd stanowisk</a>
                        </div>
                    }
                    <div class="title mt-3">
                        <small class="text-muted font-weight-bold text-uppercase m-0">Majątek</small>
                    </div>
                    <div class="list-group list-group-flush">
                        <a asp-controller="Items" asp-action="Index" data-id="Items" class="list-group-item list-group-item-action"><i class="fas fa-coins mr-1"></i>Przegląd majątku</a>
                        @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                        {
                            <a asp-controller="Doc_Assignments" asp-action="Index" data-id="Doc_Assignments" class="list-group-item list-group-item-action"><i class="far fa-file-alt mr-1"></i>Dokumenty</a>
                            <a asp-controller="Items" asp-action="Assign_to_employee" data-id="Assign_to_employee" class="list-group-item list-group-item-action"><i class="fas fa-hand-holding-usd mr-1"></i>Przekaż na stan</a>
                            <a asp-controller="Items" asp-action="Assign_to_warehouse" data-id="Assign_to_warehouse" class="list-group-item list-group-item-action"><i class="fas fa-pallet mr-1"></i>Przekaż do magazynu</a>
                        }
                        @if (User.IsInAnyRoles("StandardPlus,Moderator"))
                        {
                            <a asp-controller="Items" asp-action="Assign_to_external" data-id="Assign_to_external" class="list-group-item list-group-item-action"><i class="fas fa-truck-loading mr-1"></i>Przekaż na zewnątrz</a>
                        }
                    </div>

                    <div class="title mt-3">
                        <small class="text-muted font-weight-bold text-uppercase m-0">Magazyn</small>
                    </div>
                    <div class="list-group list-group-flush">
                        <a asp-controller="Warehouses" asp-action="Index" data-id="Warehouses" class="list-group-item list-group-item-action"><i class="fas fa-boxes mr-1"></i>Przegląd magazynów</a>
                        @if (User.IsInAnyRoles("StandardPlus,Moderator"))
                        {
                            <a asp-controller="Warehouses" asp-action="StocktakingIndex" data-id="Stocktaking" class="list-group-item list-group-item-action"><i class="fas fa-calculator mr-1"></i>Inwentaryzacja</a>
                        }
                    </div>

                    @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                    {
                        <div class="title mt-3">
                            <small class="text-muted font-weight-bold text-uppercase m-0">Klienci zewnętrzni</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <a asp-controller="Externals" asp-action="Index" data-id="Externals" class="list-group-item list-group-item-action"><i class="fas fa-glasses mr-1"></i>Przegląd klientów zewnętrznych</a>
                            <a asp-controller="Externals" asp-action="StatusView" data-id="StatusView" class="list-group-item list-group-item-action"><i class="fas fa-search-dollar mr-1"></i>Podgląd stanu</a>
                        </div>
                    }
                </div>
                <div class="col-md-10 ml-auto py-3 content-body">
                    <partial name="_CookieConsentPartial" />
                    @RenderBody()
                </div>
            </div>
        </div>
    }

    @if (signInManager.IsSignedIn(User))
    {
        <footer class="col-md-10 ml-auto border-left-0 bg-light py-2 text-center border fixed-bottom">
            <div class="container">
                &copy; 2019-2020 - DotNetFortune - <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="aboutUs">O nas</a>
            </div>
        </footer>
    }
<div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAtidXOuBUaTkyMaSg_9IaxYNCilM6Q6s&callback=initMap"></script>
    @*key=AIzaSyCAtidXOuBUaTkyMaSg_9IaxYNCilM6Q6s&*@
    @RenderSection("Scripts", required: false)
</div>
</body>
</html>
