@{
    ViewData["Title"] = "GlobalExceptionHandler";

}
@if (@ViewBag.ExceptionMessage == null)
{
    <h3>Wystąpił nieoczekiwany błąd!</h3>
    <h5>@ViewBag.ContactEmail</h5>
    <hr />
    <h3>Szczegóły błędu:</h3>
    <div class="alert alert-info">
        <h5>Błąd pod adresem:</h5>
        <p>@ViewBag.ExceptionPath</p>
    </div>

    <div class="alert alert-info">
        <h5>Komunikat z błędem:</h5>
        <p>@ViewBag.ExceptionTitle</p>
        <p>@ViewBag.ExceptionMessage</p>
    </div>
}
else
{
    <div class="alert alert-info">
        <h5>@ViewBag.ExceptionTitle</h5>
        <p>@ViewBag.ExceptionMessage</p>
    </div>
}


