@model DotNetWMS.Models.Employee

@{
    ViewData["Title"] = "Details";
}


<div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">
        <h2 class="mb-sm-0 mb-2 text-sm-left text-center">Szczegóły</h2>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success my-auto"><i class="fas fa-edit mr-1"></i>Edytuj</a>
    </div>
</div>
<hr />
<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-dark btn-sm"><i class="fas fa-arrow-left"></i>Wróć do podglądu</a>

    <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.Name) i @Html.DisplayNameFor(model => model.Surname)</li>
        <li class="list-group-item pl-5">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</li>

        <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.Street)</li>
        <li class="list-group-item pl-5">@Html.DisplayFor(model => model.Street), @Html.DisplayFor(model => model.ZipCode) @Html.DisplayFor(model => model.City)</li>


        <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.Pesel)</li>
        <li class="list-group-item pl-5">@Html.DisplayFor(model => model.Pesel)</li>

        <li class="list-group-item font-weight-bold">@Html.DisplayNameFor(model => model.Department)</li>
        <li class="list-group-item pl-5">@Html.DisplayFor(model => model.Department.Name)</li>
    </ul>
</div>