@model IEnumerable<DotNetWMS.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


    <h1 class="index-title"><a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-left"></i></a> Podgląd pracowników</h1>

<p>
    <a asp-action="Create" class="modal-create btn btn-success"><i class="fas fa-user-plus"></i> Dodaj pracownika</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <p>
            Wyszukaj: <input type="text" name="search" value="@ViewData["Search"]" />
            <button type="submit" class="btn btn-primary"><i class="fab fa-sistrix"></i></button> |
            <a asp-action="Index" class="btn btn-danger"><i class="fas fa-eraser"></i></a>
        </p>
    </div>
</form>

<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["SortByName"]">@Html.DisplayNameFor(model => model.Surname)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="button-col">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-dark"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger text-dark"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

