@model IEnumerable<WMSIdentityUser>

@{
    ViewBag.Title = "All Users";
}

<h1>Użytkownicy</h1>
<div class="roles-list">
    @if (Model.Any())
    {
        <div class="button-add">
            <a asp-action="Register" asp-controller="Account" class="btn btn-success mb-3"><i class="fas fa-user-plus"></i> Dodaj użytkownika</a>
        </div>
        foreach (var user in Model)
        {

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@user.UserName</h5>
                    <hr />
                    <h6 class="card-subtitle mb-2 text-muted">ID użytkownika :</h6>
                    <p class="card-text">@user.Id</p>
                    <hr />
                    
                        <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id" class="button-admin-users">
                            <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-warning"><i class="fas fa-edit"></i> Edytuj</a>
                            <span id="confirmDeleteSpan_@user.Id" style="display:none">
                                <span>Jesteś pewien?</span>
                                <button type="submit" class="btn btn-danger">Potwierdź</button>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@user.Id', false)">Anuluj</a>
                            </span>
                            <span id="deleteSpan_@user.Id">
                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@user.Id', true)"><i class="fas fa-trash-alt"></i> Usuń</a>
                            </span>
                        </form>
                   
                    </div>
                </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                Brak użytkowników
            </div>
            <div class="card-body">
                <h5 class="card-title">Aby stworzyć użytkownika, kliknij poniżej:</h5>
                <a asp-controller="Account" asp-action="Register" class="btn btn-primary"><i class="fas fa-user-plus"></i> Dodaj użytkownika</a>
            </div>
        </div>
    }
</div>
        @section Scripts {
            <script src="~/js/DeleteConfirmation.js"></script>
        }
