@using DotNetWMS.Resources;
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
    Model.OrderBy(m => m.Name);
}
    
        <div class="d-flex justify-content-between flex-sm-row flex-column">
        <h2 class="mb-sm-0 mb-2 text-sm-left text-center">Lista ról</h2>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                @if (Model.Any())
                {
                    var sortedModel = Model.OrderBy(m => m.Name);
                    var index = 1;
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control search-control" value="@ViewData["Search"]" placeholder="Wyszukaj..." aria-label="Wyszukaj" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="fab fa-sistrix mr-1"></i>Szukaj</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">ID</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="tableSearch">

                                @foreach (var role in sortedModel)
                                {
                                    <tr>
                                        <th scope="row">@index</th>
                                        <td class="font-weight-bold">@role.Name</td>
                                        <td>@role.Id</td>
                                        <td>
                                            <div class="btn-group dropleft">
                                                <button type="button" class="btn btn-sm border btn-light dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                    Więcej
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-lg-right">
                                                    <h6 class="dropdown-header font-weight-bold">Co chcesz zrobić?</h6>
                                                    @if (Admin_DefaultRoles.IsDefaultRole(role.Name))
                                                    {
                                                        <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="dropdown-item"><i class="fas fa-info-circle mr-1"></i>Szczegóły</a>
                                                        <a asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleid="@role.Id" class="dropdown-item"><i class="fas fa-edit mr-1"></i>Przypisz użytkownika</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="dropdown-item"><i class="fas fa-edit mr-1"></i>Edytuj</a>
                                                        <a asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleid="@role.Id" class="dropdown-item"><i class="fas fa-edit mr-1"></i>Przypisz uzytkownika</a>

                                                        <div class="dropdown-divider"></div>

                                                        <button type="button" class="dropdown-item danger text-danger" data-toggle="modal" data-target="#remove_@role.Id"><i class="fas fa-trash-alt mr-1"></i>Usuń</button>
                                                    }
                                                </div>
                                            </div>
                                            @if (!Admin_DefaultRoles.IsDefaultRole(role.Name))
                                            {
                                                <div class="modal fade" id="remove_@role.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="label_remove_@role.Id" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title font-weight-bold" id="label_remove_@role.Id">Usuwanie roli</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Czy na pewno chcesz usunąć rolę o nazwie: <b>@role.Name</b> ?
                                                                <div class="text-muted small font-weight-bold">ID: @role.Id</div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                                                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-window-close mr-1"></i>Nie</button>
                                                                    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check-circle mr-1"></i>Tak</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                    </tr>

                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">Brak ról!</h4>
                        <hr>
                        <p class="mb-0">Aby stworzyć nową rolę, kliknij powyższy przycisk "Dodaj rolę"</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            </div>
                </div>
        @*@section Scripts {
            <script src="~/js/DeleteConfirmation.js"></script>
        }*@
