@model IEnumerable<WMSIdentityUser>

@{
    ViewBag.Title = "All Users";
}

    <div class="d-flex justify-content-between flex-sm-row flex-column">
        <h2 class="mb-sm-0 mb-2 text-sm-left text-center">Użytkownicy</h2>
        <a asp-action="Register" asp-controller="Account" class="btn btn-success my-auto"><i class="fas fa-user-plus mr-1"></i>Dodaj użytkownika</a>
    </div>
<hr />
<div class="row">
    <div class="col-12">
        @if (Model.Any())
        {
            var index = 1;

            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control search-control" value="@ViewData["Search"]" placeholder="Wyszukaj..." aria-label="Wyszukaj" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="fab fa-sistrix mr-1"></i>Szukaj</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nazwa</th>
                            @*<th scope="col">ID</th>*@
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                            <th scope="col">Identyfikator</th>
                            <th scope="col">Oddział</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody id="tableSearch">
                        @foreach (var user in Model)
                        {
                            <tr>
                                <th scope="row">@index</th>
                                <td class="font-weight-bold">@user.UserName</td>
                                @*<td>@user.Id</td>*@
                                <td>@user.Name</td>
                                <td>@user.Surname</td>
                                <td>@user.EmployeeNumber</td>
                                <td>@user.City</td>
                                <td>@user.Email</td>
                                <td>
                                    <div class="btn-group dropleft">
                                        <button type="button" class="btn btn-sm my-1 border btn-light dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                            Więcej
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-lg-right">
                                            <h6 class="dropdown-header font-weight-bold">Co chcesz zrobić?</h6>
                                            <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" class="dropdown-item"><i class="fas fa-edit mr-1"></i>Edytuj</a>
                                            <div class="dropdown-divider"></div>
                                            <button type="button" class="dropdown-item danger text-danger" data-toggle="modal" data-target="#remove_@user.Id"><i class="fas fa-trash-alt mr-1"></i>Usuń</button>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="remove_@user.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="label_remove_@user.Id" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title font-weight-bold" id="label_remove_@user.Id">Usuwanie użytkownika</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Czy na pewno chcesz usunąć uzytkownika o nazwie: <b>@user.UserName</b> ?
                                                    <div class="text-muted small font-weight-bold">@user.Name @user.Surname</div>
                                                    <div class="text-muted small font-weight-bold">ID: @user.Id</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                                                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-window-close mr-1"></i>Nie</button>
                                                        <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check-circle mr-1"></i>Tak</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            index++;
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Brak użytkowników!</h4>
                <hr>
                <p class="mb-0">Aby dodać nowego użytkownika, kliknij powyższy przycisk "Dodaj użytkownika"</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</div>
